#story {
  padding-top: 100px !important;
  padding-bottom: 0 !important;
  blockquote {
    font-size: 2em;
    margin: 0 0 _size(element-margin) 0;
    font-family: Raleway;
    color: _palette(accent4);
    float: left;
    text-align: right;
    width: 25%;
    b {
      color: _palette(accent1);
    }
    #leftquote {
      font-size: 2em;
      float: left;
      margin-top: -60px;
      font-family:'Impact', serif;
    }
    #rightquote {
      font-size: 2em;
      float: right;
      line-height: 1em;
      font-family:'Impact', serif;
    }
  }
  p {
    color: _palette(accent4) !important;
    float: right;
    text-align: left;
    width: 70%;
    b {color: _palette(accent1);}
    #hbiz {color: _palette(fg-bold) !important;}
  }

  @include breakpoint('<=xsmall') {
    @include padding(3em, 2em);

    blockquote {
    font-size: 1.75em;
    margin: 20px auto;
    font-family: Raleway;
    color: _palette(accent4);
    text-align: center;
    width: 100%;
    b {
      color: _palette(accent1);
    }
    #leftquote {
      display: none;

    }
    #rightquote {
      display: none;
    }
  }
  p {
    color: _palette(accent4) !important;
    margin: 20px auto;
    padding: 0 1em;
    // float: left;
    // text-align: left;
    width: 100%;
    #hbiz {color: _palette(fg-bold) !important;}  
  }

  }
}