/* First make sure the video thumbnail images are responsive. */

img {
  max-width: 100%;
  height: auto;
}

// button {
//   font-size: .3em;
// }

.fancybox-button {
  padding: 0 !important;
  border: none !important;
}

.fancybox-toolbar {
  // display: none;
}

// .fancybox-infofar {
//   font-size: 3em !important;
// }

/* 
This is the starting grid for each video with thumbnails 4 across for the largest screen size.
It's important to use percentages or there may be gaps on the right side of the page. 
*/

// .video {
//   background: #fff;
//   padding-bottom: 20px;
//   box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15);
//   width: 23%;
//   /* Thumbnails 4 across */
//   margin: 1%;
//   float: left;
// }

/* 
 These keep the height of each video thumbnail consistent between YouTube and Vimeo.
 Each can have thumbnail sizes that vary by 1px and are likely break your layout. 
 */

.video figure {
  height: 0;
  // padding-bottom: 56.25%;

  overflow: hidden;
  .video figure a {
    display: block;
    margin: 0;
    padding: 0;
    border: none;
    line-height: 0;
  }
  // /* Media Queries - This is the responsive grid.
  // @media (max-width: 1024px) {
  //   .video {
  //     width: 31.333%;
  //     /* Thumbnails 3 across
  //   }
  // }
  // @media (max-width: 600px) {
  //   .video {
  //     width: 48%;
  //     /* Thumbnails 2 across
  //   }
  // }
  // @media (max-width: 360px) {
  //   .video {
  //     display: block;
  //     width: 96%;
  //     /* Single column view.
  //     margin: 2%;
  //     /* The smaller the screen, the smaller the percentage actually is.
  //     float: none;
  //   }
  // }
  // /* These are my preferred rollover styles. */
}
/*VIDEO HOVER EFFECTS*/

.grid {
  position: relative;
  clear: both;
  margin: 0 auto; 
  max-width: 1000px;
  list-style: none;
  text-align: center;
  figure {
    position: relative;
    float: left;
    overflow: hidden;
    margin: 15px 10px;
    min-width: 320px;
    max-width: 480px;
    max-height: 360px;
    width: 100%;
    height: auto;
    background: #704214;
    text-align: center;
    cursor: pointer;
    img {
      position: relative;
      display: block;
      width: 100%;
      opacity: 0.8;
    }
    figcaption {
      padding: .5em;
      color: white;
      text-transform: uppercase;
      font-size: 1em;
      -webkit-backface-visibility: hidden;
      backface-visibility: hidden;
      &::before,
      &::after {
        pointer-events: none;
      }
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      >a {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 1000;
        text-indent: 200%;
        white-space: nowrap;
        font-size: 0;
        opacity: 0;
      }
    }
    h2 {
      word-spacing: -0.15em;
      font-weight: 700;
      margin: 0;
    }
    p {
      margin: 0;
      letter-spacing: .5px;
      // font-size: 53%;
      font-size: 1em;
    }
  }
}

/* Common style */

/* Anchor will cover the whole item by default */

/* For some effects it will show as a button */

/* Moses */

figure.effect-moses {
  img {
    opacity: 0.85;
    -webkit-transition: opacity 0.35s;
    transition: opacity 0.35s;
  }
  h2,
  p {
    padding: 20px;
    width: 50%;
    height: 50%;
    border: 2px solid $white;
    color: $white !important;
  }
  h2 {
    padding: 20px;
    width: 50%;
    height: 50%;
    text-align: left;
    -webkit-transition: -webkit-transform 0.35s;
    transition: transform 0.35s;
    -webkit-transform: translate3d(10px, 10px, 0);
    transform: translate3d(10px, 10px, 0);
  }
  p {
    float: right;
    padding: 20px;
    text-align: right;
    opacity: 0;
    -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
    transition: opacity 0.35s, transform 0.35s;
    -webkit-transform: translate3d(-50%, -50%, 0);
    transform: translate3d(-50%, -50%, 0);
  }
  &:hover {
    h2 {
      -webkit-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0);
    }
    p {
      opacity: 1;
      -webkit-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0);
    }
    img {
      opacity: 0.5;
    }
  }
}

@include breakpoint('<=xsmall') {
  .grid {
  figure {
    margin: 25px auto;
  }
  }
}