/* Nav */

	#nav {
		@include vendor('transition', (
			'background-color #{_duration(transition)} ease',
			'border-top-left-radius #{_duration(transition)} ease',
			'border-top-right-radius #{_duration(transition)} ease',
			'padding #{_duration(transition)} ease',
		));
		@include color-typography(invert);
		position: absolute;
		// width: _size(inner);
		width: 100%;
		height: 50px;
		left: 0px;
		padding: .4em;
		// max-width: calc(100% - #{_size(element-margin) * 2});
		// padding: 1em;
		// background-color: _palette(invert, bg-alt);
		background-color: $black;
		border-top-left-radius: _size(border-radius-main);
		border-top-right-radius: _size(border-radius-main);
		cursor: default;
		text-align: center;

		#registration {
			// position: absolute;
			// right: 2em;
			color: $lightblue;
			font-weight: bold;

				&:hover {
					color: $black;
					background-color: $lightblue;
				}
		}

		img {
			position: absolute;
			left: 0px;
			top: 0px;
		}
		
		& + #main {
			padding-top: 0em;
		}

		ul {
			margin: 0;
			padding: .2em;
			list-style: none;

			li {
				@include vendor('transition', (
					'margin #{_duration(transition)} ease'
				));
				display: inline-block;
				margin: 0 0.35em;
				padding: 0;
				vertical-align: middle;

				a {
					@include vendor('transition', (
						'font-size #{_duration(transition)} ease'
					));
					display: inline-block;
					// height: 50px;
					// line-height: 2em;
					padding: 0 1.25em;
					border: 0;
					border-radius: _size(border-radius);
					box-shadow: inset 0 0 0 1px transparent;
					color: $white;

					&:hover {
						// background-color: _palette(invert, border-bg);
						background-color: $black;
						border-color: $white;
						color: $white;
					}

					&.active {
						background-color: _palette(invert, bg);
						color: $black;
						box-shadow: none;

					}
				}
			}
		}

		&.alt {
			position: fixed;
			top: 0;
			background-color: rgba($black, 0.8);
			border-top-left-radius: 0;
			border-top-right-radius: 0;
			z-index: _misc(z-index-base);

			ul {
				// padding: .5em;
				li {
					margin: -0.4em .5em;
					a {
						font-size: .8em;
						// margin-bottom: 1em;
					}
				}
			}
		}

		@include breakpoint('<=small') {
			// display: none;

			& + #main {
				padding-top: 0;
			}
		}
	}